<h1 class="title is-3 has-text-centered">Edit <%= @jersey.title %></h1>
<% if is_owner? %>
<form action="/jerseys/<%= @jersey.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  <div class="has-text-centered">
<div class="field">
  <label class="label"> Jersey Title </label>
  <div class="control">
  <input class="input" type="text" name="title"> </br>
  </div>
  </div>
<div class="field">
  <label class="label"> Player </label>
  <div class="control">
  <input class="input" type="text" name="player"> </br>
</div>
  </div>
<div class="field">
  <label class="label"> Number </label>
  <div class="control">
  <input class="input" type="text" name="player_number"> </br>
</div>
  </div>
<div class="field">
  <label class="label"> Sport </label>
  <div class="control">
  <input class="input" type="text" name="sport"> </br>
  </div>
  </div>
<input class="button is-primary" type="submit" value="Update">
  </div>

</form>

<form action="/jerseys/<%= @jersey.id %>/delete" method="post">
<div class="has-text-centered">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input class="button is-danger" type="submit" value="Delete">
  </div>
</form>

<% else %>
<p> you do not own this jersey </p>
<% end %>