
<h1 class="title is-3 has-text-centered">Add a New Jersey</h1>
<form action="/jerseys" method="POST">
<div class="has-text-centered">
<div class="field">
  <label class="label"> Jersey Title </label>
  <div class="control">
  <input class="input" type="text" name="title"> </br>
  </div>
  </div>
<div class="field">
  <label class="label"> Player </label>
  <div class="control">
  <input class="input" type="text" name="player"> </br>
</div>
</div>
<div class="field">
  <label class="label"> Number </label>
  <div class="control">
  <input class="input" type="text" name="player_number"> </br>
</div>
  </div>
<div class="field">
  <label class="label"> Sport </label>
  <div class="control">
  <input class="input" type="text" name="sport"> </br>
  </div>
  </div>
<div class="field">
  <label class="label"> Team </label>
  <div class="control">
  <input class="input" type="text" name="team"> </br>
  </div>
</div>
<div class="field">
  <label class="label"> Image URL (Please use Imgur to host your images) </label>
  <div class="control">
  <input class="input" type="text" name="picture_url"> </br>
</div>
</div>
  <input class="button is-primary" type="submit" value="Create">
  </div>
</form>