<link rel="stylesheet" type="text/css" href="/bulma.css">


<body>
      <% if logged_in? %>

       
<div class="block">
<section class="hero is-info">

<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
    <p class="level-item"> <a class="button is-success" href="/jerseys/new"> Add a Jersey</a></p>
    </div>
  </div>
    <div class="level-right">
    <p class="level-item"> <a class="button is-danger" href="/logout"> Log Out </a></p>
  </div>
</nav>
<div class="hero-body">
<div class="container">
        <h1 class="title is-3 has-text-centered"><a href="/jerseys">JerseyTracker</a></h1>
         <h2 class="subtitle has-text-centered">
        A Great Place To Track Your Sports Jerseys!
        </h2>
        </div>
      </section>
      </div>
      </div>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
    
      <%end %>



    

   
      <%= yield %> 
    

    </body>