<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">


<body>
      <% if logged_in? %>

       
<div class="block">
<section class="hero is-info">

<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
    <p class="level-item"> <a class="button is-success" href="/jerseys/new"> Add a Jersey</a></p>
    </div>
  </div>
    <div class="level-right">
    <p class="level-item"> <a class="button is-danger" href="/logout"> Log Out </a></p>
  </div>
</nav>
<div class="hero-body">
<div class="container">
        <h1 class="title is-3 has-text-centered"><a href="/jerseys">JerseyTracker</a></h1>
         <h2 class="subtitle has-text-centered">
        A Great Place To Track Your Sports Jerseys!
        </h2>
        </div>
      </section>
      </div>
      </div>

      <% else %>

      <div class="block">
<section class="hero is-info">

<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
    <p class="level-item"> <a class="button is-success" href="/signup">Sign Up </a></p>
    </div>
  </div>
    <div class="level-right">
    <p class="level-item"> <a class="button is-success" href="/login"> Sign In </a> </a></p>
  </div>
</nav>
<div class="hero-body">
<div class="container">
        <h1 class="title is-3 has-text-centered"><a href="/jerseys">JerseyTracker</a></h1>
         <h2 class="subtitle has-text-centered">
        A Great Place To Track Your Sports Jerseys!
        </h2>
        </div>
      </section>
      </div>
      </div>
       
    
      <%end %>



    

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
   
      <%= yield %> 
    

    </body>