<body>
      <% if logged_in? %>

        <a href="/jerseys/new"> Add a Jersey</a>
        <a href="/logout"> Log Out </a>
        <h1>Welcome to JerseyTracker!</h1>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>

    

   
      <%= yield %> 
    

    </body>